@using MnsLocation5.ViewsModel;
@model UserRentalCartViewModel;

@{
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Matériels choisis
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>*@
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChoosenMaterials) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.MaterialID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
