@model MnsLocation5.ViewsModel.CreateMaterialViewModel
@{
    ViewData["Title"] = "IndexMaterial";
    Layout = "~/Views/Shared/_LayoutUserPages.cshtml";
}
<h1>@Model.MaterialType.Name</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialType.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListMaterial) {
        <tr>
            <td>
                <input type ="checkbox" class="checkbox" value="@item.Id">
            </td>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="AddMaterialInRentalCart" asp-route-id="@item.Id">Ajoutez au panier</a>
            </td>
        </tr>
}
    </tbody>
</table>