@model MnsLocation5.ViewsModel.CreateMaterialViewModel
@{
    ViewData["Title"] = "IndexMaterial";
    Layout = "~/Views/Shared/_LayoutUserPages.cshtml";
}
<h1>@Model.MaterialType.Name</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialType.Name)
            </th>
            <th>
                Condition
            </th>
            <th>
                Quantité
            </th>
            <th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListOfListMaterials) {
        <tr>
            <td>
                @item[item.Count-1].Name
            </td>
            <td>
                @item[item.Count-1].Condition
            </td>
            <td>
                @item.Count
            </td>
            <td>
                <form asp-action="AddToRentalCart" asp-route-id="@item[item.Count-1].MaterialID" method="post" id="form-add-to-cart">
                    <input type="number" min="0" value="1" max="@item.Count" name="Quantity" />
                </form>
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item[item.Count-1]."MaterialID">Details</a> |
                <a href="#" onclick="document.querySelector('#form-add-to-cart').submit();">Ajouter au panier</a>
            </td>
        </tr>
}
    </tbody>
</table>