@model MnsLocation5.ViewsModel.CreateMaterialViewModel
@{
    ViewData["Title"] = "IndexMaterial";
    Layout = "~/Views/Shared/_LayoutUserPages.cshtml";
}
<h1>@Model.MaterialType.Name</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialType.Name)
            </th>
            <th>
                Quantité
            </th>
            <th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListOfListMaterials) {
        <tr>
            <td>
                @item[item.Count-1].Name
            </td>
            <td>
                @item.Count
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item[item.Count-1]."MaterialID">Details</a> |
                <a asp-action="AddToRentalCart" asp-route-id="@item[item.Count-1].MaterialID">Ajouter au panier</a>
            </td>
        </tr>
}
    </tbody>
</table>