@model MnsLocation5.ViewsModel.CreateMaterialViewModel

@{
    ViewData["Title"] = "UserLocationCart";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Matériels choisis
            </th>
            <th>
                Condition
            </th>           
            <th>
                Quantité
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListOfListMaterials) {
        <tr>
             <td>
                @item[item.Count-1].Name
            </td>
            <td>
                @item[item.Count-1].Condition
            </td>
            <td>
                @item.Count
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="DeleteInRentalCart" asp-route-id="@item[item.Count-1].MaterialID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="UserRentalCartValidation" >Valider le panier</a>
