@model MnsLocation5.ViewsModel.CreateMaterialViewModel

@{
    ViewData["Title"] = "UserLocationCart";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Matériels choisis
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>*@
            @if(Model.RentalCart.IsValidate == true)
            {
              <th>
                Panier en cours de validation par l'admin
              </th>  
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if(Model.RentalCart.IsValidate == false)
    {
        @foreach (var item in Model.ListOfListMaterials) {
            <tr>
                <td>
                    @item[item.Count-1].Name
                </td>
                <td>
                    @item[item.Count-1].Condition
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="DeleteInRentalCart" asp-route-id="@item[item.Count-1].MaterialID">Supprimer</a> |
                    <a asp-action="DeleteItems" asp-route-id="@item[item.Count-1].MaterialID">Supprimer la ligne</a>

                </td>
            </tr>
        }
    }
    </tbody>
</table>
<a asp-action="DeleteAllItems">Supprimer le panier</a>

@if(Model.RentalCart.IsValidate == false)
{
    <a asp-action="UserRentalCartValidation" >Valider le panier</a>
}
else
{
    <a asp-action="UserRentalCartModification">Modifier le panier</a>
}
