@model MnsLocation5.ViewsModel.CreateMaterialViewModel


@{
    ViewData["Title"] = "UserLocationCart";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Matériels choisis
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>*@
            @if(Model.RentalCart.IsValidate == true)
            {
              <th>
                Panier en cours de validation par l'admin
              </th>  
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if(Model.RentalCart.IsValidate == false)
    {
        @foreach (var item in Model.ListOfListMaterials) {
            <tr>
                <td>
                    @item[item.Count-1].Name
                </td>
                <td>
                    @item[item.Count-1].Condition
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="DeleteInRentalCart" asp-route-id="@item[item.Count-1].MaterialID">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
@if(Model.RentalCart.IsValidate == false)
{
    <form asp-action="UserRentalCartValidation">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Date de début : </label>
            <input type="date" name="StartDate"/>
            <input type="time" name="StartTime"/>
        </div>
        <div class="form-group">
            <label>Date de fin : </label>
            <input type="date"  name="EndDate"/>
            <input type="time" name="EndTime"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Valider le panier" class="btn btn-primary"/>
        </div>
        
        
    </form>
    
    
}
else
{
    <a asp-action="UserRentalCartModification">Modifier le panier</a>
}
